@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', system-ui, -apple-system, sans-serif;
  font-weight: 400;
}

.title-condensed {
  font-family: 'Founders Grotesk', system-ui, -apple-system, sans-serif;
  letter-spacing: -0.05em;
  line-height: 0.9;
  font-weight: bold;
}

@media (min-width: 640px) {
  .title-condensed {
    line-height: 0.75;
  }
}

@media (min-width: 768px) {
  .title-condensed {
    line-height: 0.65;
  }
}
